<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qui?!</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/listofimg.js"></script>
</head>
<body>
<div class="container">
  <h1>Qui?!</h1>

  <div class="profiles-container">
    <!-- Profile cards will be inserted here by the JavaScript -->
  </div>

  <!-- Navigation buttons -->
  <div class="navigation-buttons">
    <button onclick="history.back()" class="nav-button">Go Back</button>
    <button onclick="window.location.href='index.html'" class="nav-button purple">Qui met sa tournée?</button>
  </div>

</div>
</body>
</html>
