<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qui?!</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container">
  <h1>Qui?!</h1>

  <div class="profile">
    <div class="card" onclick="this.classList.toggle('flipped');">
      <div class="front">
        <img src="../static/assets/happy.png" alt="First Person" class="profile-pic">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies, libero sed fringilla cursus, magna.</p>
      </div>
      <div class="back">
        <div class="face">
          <img src="../static/assets/happy.png" alt="First Person" class="profile-pic">
          <h1>=</h1>
          <span class="emoji" role="img" aria-label="Beer">🍺</span>
          <p>Biére</p>
        </div>
      </div>
    </div>
  </div>

  <div class="profile">
    <div class="card" onclick="this.classList.toggle('flipped');">
      <div class="front">
        <img src="../static/assets/fear.png" class="profile-pic">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies, libero sed fringilla cursus, magna.</p>
      </div>
      <div class="back">
        <div class="face">
          <img src="../static/assets/fear.png" class="profile-pic">
          <h1>=</h1>
          <span class="emoji" role="img" aria-label="Negroni">️🍹</span>
          <p>Negroni</p>
        </div>
      </div>
    </div>
  </div>

  <div class="profile">
    <div class="card" onclick="this.classList.toggle('flipped');">
      <div class="front">
        <img src="../static/assets/shocked.png" class="profile-pic">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies, libero sed fringilla cursus, magna.</p>
      </div>
      <div class="back">
        <div class="face">
          <img src="../static/assets/shocked.png" class="profile-pic">
          <h1>=</h1>
          <span class="emoji" role="img" aria-label="Martini">️🍸</span>
          <p>Martini</p>
        </div>
      </div>
    </div>
  </div>

  <div class="profile">
    <div class="card" onclick="this.classList.toggle('flipped');">
      <div class="front">
        <img src="../static/assets/sad.png" class="profile-pic">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies, libero sed fringilla cursus, magna.</p>
      </div>
      <div class="back">
        <div class="face">
          <img src="../static/assets/sad.png" class="profile-pic">
          <h1>=</h1>
          <span class="emoji" role="img" aria-label="Wine">🍷</span>
          <p>Vin</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation buttons -->
  <div class="navigation-buttons">
    <button onclick="history.back()" class="nav-button">Go Back</button>
    <button onclick="window.location.href='index.html'" class="nav-button purple">Qui met sa tournée?</button>
  </div>

</div>
</body>
</html>
